.buttons-container {
  margin-top: 50px;
}

.view-mode-data {
  padding: 10px;
  & > div {
    padding: 20px 10px;
  }
}

.view-mode-table {
  width: 100%;
  text-align: left;
  th {
    width: 200px;
  }
}
